<div class="checkoutForm text-center">
    <h2 class="">Congratulations!</h2>
    <br />
    <p>You have successfully registered.</p>
    <p>Please ensure to keep your Password strictly Private & Confidential at all times.</p>
    <p>You can now purchase on PC Parts Market.</p>
    <div>
        <a asp-controller="PcComponent" asp-action="List" class="btn btn-success">Shop Now</a>
    </div>
</div>


