<div class="checkoutForm">
    <h2>
        @ViewBag.CheckoutCompleteMessage
    </h2>
    <br />
    <a class="btn btn-success" asp-controller="PcComponent" asp-action="List" asp-route-category="">Continue shopping</a>
</div>
